// Colors
$white: #FFF;
$main-color: #70B9BE;
$main-color-mid-dark: #05363a;
$main-color-dark: #042628;
$black: #0A2533;
$gray: #E6EBF2;
$gray2: #999;

// Breakpoints
$breakpoint-xr: 390px;
$breakpoint-xs: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 980px;
$breakpoint-xl: 1024px;

// Breakpoints max
$breakpoint-md-max: 767px;

// Breakpoints min
$breakpoint-xl-min: 1025px;

/* Fonts */
$base_font_size: 62.5%;
$body_font_family: "Poppins", sans-serif;
$body_font_size: 1.2rem;
$second_font: 'DM Serif';
